{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner">
  {%- if section.settings.image != blank -%}
    <div class="banner__media media">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes="100vw"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>
  {%- endif -%}

  <div class="banner__content page-width">
    <div class="banner__box">
      <h2 class="banner__heading">
        <span>{{ section.settings.heading | escape }}</span>
      </h2>

      <div class="banner__text">
        <span>{{ section.settings.text | escape }}</span>
      </div>

      <div class="banner__buttons">
        {%- if section.settings.button_label_1 != blank -%}
          <a{% if section.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link_1 }}"{% endif %} class="button button--primary">{{ section.settings.button_label_1 | escape }}</a>
        {%- endif -%}

        {%- if section.settings.button_label_2 != blank -%}
          <a{% if section.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link_2 }}"{% endif %} class="button button--primary">{{ section.settings.button_label_2 | escape }}</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Image banner"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Give customers details about the banner image or content on the template."
    },
    {
      "type": "text",
      "id": "button_label_1",
      "label": "Button text",
      "default": "First button label"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "First button link"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "Second button text",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Second button link"
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "blocks": []
    }
  ]
}
{% endschema %}
